/* Inserta tu codigo aqui */




body{
    padding: 0;
    margin: 0;
    background-color: #372C43;
}
.clearfix{
    display: table;
    
}

.clearfix:after{
    content: "";
    clear: both;
}
/* ------------------------------------------HEADER*/

header{
    padding: 10px 0;
    background-color: #10061B;
}

.container img{
    height: 50px;
    
}

.list-menu{
    list-style: none;
    margin: 0;
    float: right;
    margin-right: 45px;
    
}

.list-menu li{
    display: inline-block;
}

.list-menu li a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    font-family: 'Open-Sans', sans-serif;
    font-size: 12px;
    color: white;
    font-style: italic;
}

.container i {
    display: none;
}

/* ------------------------------------------BANNER*/

section{
    padding: 20px 0;
   
}
 

.container{
    width: 900px;
    margin: 0 auto;
}

.fondo{
    background-image: url(../image/header-image.jpg);
    height: auto;
    background-size: cover;
    background-attachment: scroll;
    display: table;
    
    
    
}

.fondo .cartel{ 
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    }

.fondo .cartel .caja {
    margin: 10% 20%;
    padding: 10px;
    background:#10061B;
    text-align: center;
    font-family: 'Courgette',fantasy;
    
}

.cartel div h1 {
    font-size: 60px;
    font-family: 'Courgette', sans-serif;
    margin: 5px;
    color: #FEC887;
    padding-top: 30px;
}

.menu{
    list-style: none;
    }

.menu li{
    display: inline-block;
    font-family: 'Open-Sans', sans-serif;
    font-size: 12px;
    color: white;
    font-style: italic;
    margin-right: 20px;
    
   
}

/* ---------------------------------------CUADROSDEIMG*/


.col-1, .col-2, .col-3, .col-4, .col-5{
    float: left;
    box-sizing: border-box;
    padding:0;
    
}


.col-1{
    width: 33.33%;
      
}

.col-2{
    width: 33.33%;
}


.col-3{
    width: 33.33%;
}

.tablero{
    background-color: #10061B;
    text-align: center;
    color: white;
    
      
    
    
}

.tablero h3, p{
    margin: 0;
   
    
}

.tablero img {
    height: 150px;
}


.tablero h3{
    font-family: 'Courgette', sans-serif;
    color: #FEC887;
}

.tablero p{
      font-family: 'Open-Sans', sans-serif;
     font-size: 12px;
    font-style: italic;
}

.col-1 .tablero {
    margin-right: 10px;
}

.col-2 .tablero {
    margin-right: 10px;
}

/* ------------------------------------------CONTENIDO*/

.col-4{
    width: 60%;
}


.col-5{
    width: 40%;
}

.cuadro img{
    height: 300px;
    
}

.cuadro{
    background-color: #10061B;
    text-align: center;
    color: white;
    }


.cuadro h3{
    font-family: 'Courgette', sans-serif;
    color:#FEC887;
}

.cuadro p{
      font-family: 'Open-Sans', sans-serif;
     font-size: 12px;
    text-align: justify;
    padding: 15px;
    
}

.cuadro span{
     font-family: 'Open-Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/* ------------------------------------------NAV*/

.search_box{
    text-align: center;
    background-color:#10061B;
    padding: 5px;
    height: 40px;
    margin-left: 25px;
    border-radius: 2px;
}

.search_box input {
    width: 90%;
    height: 60%;
    margin: auto;
    background-color: gainsboro;
    color: white;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    margin-top:5px;
}

.aboutme{
    margin-left: 25px;
    background-color: #10061B;
    color: white;
    text-align: center;
    
}

.aboutme h3{
    font-family: 'Courgette', sans-serif;
    color: #FEC887;
    
}

.aboutme img{
    height: 300px;
}

.aboutme p{
    font-family: 'Open-Sans', sans-serif;
     font-size: 12px;
    text-align: justify;
    padding: 15px;
    
}

.aboutme .menu li{
    font-style: normal;
}

.aboutme .menu li{
    background-color: lightgrey;
    
    border-radius: 200px;
    
}

.aboutme .menu li a{
    text-decoration: none;
    font-size: 40px;
    color: black;
}







/* ------------------------------------------footer*/

footer{
    background-color: #10061B;
    padding: 20px 0 ;
}
footer p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: darkgrey;
    text-align: center
}

/* ----------------------------------------------Responsive */


@media screen and (max-width : 920px) {
    
     .container{
        width: 700px;
    }

}

@media screen and (max-width: 600px) {

       
    .container{
        width: 80%;
        margin: auto;
    }
    
    .col-1, .col-2, .col-3, .col-4{
        width: 100%;
        
                
    }
    
    .col-1, .col-2{
        padding-bottom: 10px;
    }
    
    .col-1 .tablero {
        margin-right: 0;
        
    }
    
    .col-2 .tablero {
        margin-right: 0;
        
    }

    .container img{
        height: 70px;
        padding: 0;
        
    }
    
 
    
    .col-5{
        visibility: hidden;
        display: none;
    }
        
    header{
        text-align: center;
    }
    
    .container i{
        display: inline-block;
        float: right;
        color: white;
        font-size: 50px;
    }
    
        
    .container .list-menu{
        display: none;
    }
    
      
    
    .tablero img {
        height: auto;
    }
    
  
    
    
}
   
}




























